<div class="row">
  <div class="span2">&nbsp;</div>
  <div class="span8">
    <br/><br/>
    <%= form_for(:user,
                 :url  => user_password_path(@user, :token => @user.confirmation_token),
                 :builder => BootstrapFormBuilder,
                 :html => { :method => :put, :class => "form-horizontal" }) do |form| %>
      <%= form.section "Change your password", "You may now reset your password. Choose a new password." do %>
        <%= form.password_field :password %>
      <% end %>
      <%= form.actions do %>
        <%= form.submit "Save this password" %>
      <% end %>
    <% end %>
  </div>
  <div class="span2">&nbsp;</div>
</div>
