<!DOCTYPE html>
<html>
  <head>
    <title>Tyler</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <span class="brand">
            <%= APP_CONFIG['system_name'] %>
          </span>
          <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <% if signed_in? %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-user icon-white"></i>
                  <%= current_user.email %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to "Sign out", sign_out_path %>
                  </li>
                </ul>
              <% else %>
                <%= link_to "Sign in", sign_in_path %>
              <% end %>
            </li>
          </div>
        </div>
      </div>
    </div>
    <div class="container page">
      <% flash.each do |key, value| -%>
        <div class="alert <%= key %>"><%= value %></div>
      <% end -%>
      <%= yield %>
    </div>
  </body>
</html>
